<div class="funds-page container">
  <table class="table table-striped">
    <tr>
      <th><a ng-click="predicate='name'; reverse=!reverse">Fund</a></th>
      <th><a ng-click="predicate='symbol'; reverse=!reverse">Symbol</a></th>
      <th ng-if="currentUser">Portfolio</th>
    </tr>
    <tr ng-repeat="fund in funds | orderBy:predicate:reverse">
      <td>
        <a href="/fund/{{fund.id}}">
          {{fund.name}}
        </a>
      </td>
      <td>{{fund.symbol}}</td>
      <td ng-if="currentUser" pf-fund-quickadd ng-fund="fund"></td>
    </tr>
  </table>
</div>

