<div class="fund-page container">
  <div class="row">
    <h1>
      {{fund.name}}
      ({{fund.symbol}})
      <span ng-if="currentUser" pf-fund-quickadd ng-fund="fund" class="pull-right"></span>
    </h1>
  </div>

  <table class="table table-striped">
    <tr>
      <th><a ng-click="predicate='company'; reverse=!reverse">Company</a></th>
      <th><a ng-click="predicate='ticker'; reverse=!reverse">Ticker</a></th>
      <th><a ng-click="predicate='percentage';reverse=!reverse">%</a></th>
    </tr>
    <tr ng-repeat="stock in fund.stocks | orderBy:predicate:reverse">
      <td>{{stock.ticker}}</td>
      <td>
        <a href="/stock/{{stock.id}}">
          {{stock.company}}
        </a>
      </td>
      <td>{{stock.percentage}}</td>
    </tr>
  </table>
</div>
