<div class="stocks-page container">
  <table class="table table-striped">
    <tr>
      <th><a ng-click="predicate='ticker'; reverse=!reverse">Ticker</a></th>
      <th><a ng-click="predicate='company'; reverse=!reverse">Company</a></th>
      <th><a ng-click="predicate='price'; reverse=!reverse">Price</a></th>
      <th ng-if="currentUser">Portfolio</th>
    </tr>
    <tr ng-repeat="stock in stocks | orderBy:predicate:reverse">
      <td>{{stock.ticker}}</td>
      <td>
        <a href="/stock/{{stock.id}}">
          {{stock.company}}
        </a>
      </td>
      <td>${{stock.price}}</td>
      <td ng-if="currentUser" pf-stock-quickadd ng-stock="stock">
      </td>
    </tr>
  </table>
</div>

